<div class="panel panel-default">
    <div class="panel-heading">Add a new pussy cat</div>
    <div class="panel-body">
        <form role="form" name="catForm" class="form-horizontal">
            <div class="form-group " class="has-feedback"  ng-class="{ 'has-error' : catForm.name.$invalid && !catForm.name.$pristine, 'has-success':  !catForm.name.$invalid && !catForm.name.$pristine}">
                <label for="name">cat name:</label>
                <input type="text" name="name"  placeholder="The pussy cat" ng-model="cat.name" class="form-control" id="name" required cat-name-validator>
                <div ng-if="catForm.name.$dirty">
                    <div ng-messages="catForm.name.$error" class="validation-error">
                        <div ng-message="required">Name required</div>
                        <div ng-message="name">This cat name already in use</div>
                    </div>
                    <div ng-messages="catForm.name.$pending" class="validation-pending">
                        <div ng-message="name">Checking username availability...</div>
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback " ng-class="{ 'has-error' : catForm.url.$invalid && !catForm.url.$pristine, 'has-success':  !catForm.url.$invalid && !catForm.url.$pristine}">
                <label for="image">Image for the cat:</label>
               <div class="input-group">
                   <span class="input-group-addon fa fa-globe"></span>
                   <input type="url" name="url" ng-model="cat.imgUrl" placeholder="http://img/pussy.jpg" class="form-control" id="image" required>
               </div>
                <div ng-messages="catForm.url.$error" class="validation-error">
                    <div ng-message="url">Url is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label>Image for the cat:</label>
                <img ng-src="{{cat.imgUrl}}" class="img-rounded img-responsive" width="300" height="300"/>
            </div>
            <div class="form-group">
                <label >Cat's birthday:</label>
                <div class="input-group">
                    <span class="input-group-addon fa fa-calendar"></span>
                    <cat-date ng-model="cat.birthday" selector="date" cls="form-control"></cat-date>
                </div>

            </div>
            <div class="form-group">
                <label >Cat's tags:</label>

                <div class="input-group">
                    <span class="input-group-addon fa fa-tags"></span>
                    <ui-select multiple ng-model="cat.tags" theme="bootstrap" ng-disabled="disabled" class="form-control" >
                        <ui-select-match placeholder="Select tag...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="tag in tags">
                            <small>
                                Tag:{{tag}}
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
            <button type="button" class="btn btn-default" ng-click="reset()">Cancel</button>
            <button type="submit" ng-click="save()" ng-disabled="catForm.$invalid" class="btn btn-default">
                Submit
            </button>
        </form>
    </div>
</div>
