<div class="panel panel-default content-cat-solid">
    <div class="panel-body content-cat-solid">
        <div class="container ">
            <div class="row" ng-init="initStats()">
                <div class="col md-12">
                    <cat-chart ng-model="clicks" name="clicks"></cat-chart>
                </div>
                <div class="col md-12">
                    <cat-chart ng-model="votes" name="votes"></cat-chart>
                </div>
            </div>
        </div>
    </div>
</div>
</div>