<div class="panel panel-default content-cat-solid">
    <div class="panel-body content-cat-solid">
        <div class="container">
            <div class="row">
                <div class="col md-12">
                    <cat-gallery ng-model="data"></cat-gallery>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
