<div class="panel panel-default" ng-show="catSelected">
    <div class="panel-body content-cat-solid">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img ng-src="{{currentCat.imgUrl}}" class="img-thumbnail img-responsive"
                             style="min-height:200px;height:200px;"
                             ng-click="clickOnTheCat(currentCat)"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        Vote:
                        <div class="input-group spinner">
                            <input type="text" class="form-control" value="{{currentCat.votes}}">

                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default" ng-click="voteUpTheCat(currentCat)" type="button"><i
                                        class="fa fa-caret-up"></i>
                                </button>
                                <button class="btn btn-default" ng-click="voteDownTheCat(currentCat)" type="button">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3> Clicks on the cat:<span>{{currentCat.clicks}}</span></h3>

                    <h3> Cat name:<span>{{currentCat.name}}</span></h3>

                    <h3> Cat's birthday:<span>{{currentCat.birthday}}</span></h3>

                    <span class="glyphicon glyphicon-tags"></span>
                    <span class="label label-danger" style="display: inline-block; margin-left: 10px" ng-repeat="tag in currentCat.tags">
                       {{tag}}
                    </span>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>

<div class="container">
    <h2>The cats</h2>
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize class="catGrid" ng-style="getTableHeight()"></div>
</div>

