/* app css stylesheet */

html, body{
   height: 100%;
}
img.cat
{
   width: 100%;
   height: 100%;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
}

.navbar
{
   margin-bottom: 0px;
}
.content-cat-image
{
   background-image: url('../Images/catBcgr.jpg');
   no-repeat: center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
.content-cat
{
   background: rgba(245,245,245, .90);
   margin-left: auto;
   margin-right: auto;
   margin-top: 1%;
   width: 90%;
}


.content-cat-solid
{
   background: rgba(255,255,255, 1);
}
.form-horizontal .form-group
{
   margin-left: 0px;
   margin-right: 0px;
}
.spinner {
   width: 100px;
}
.spinner input {
   text-align: right;
}
.input-group-btn-vertical {
   position: relative;
   white-space: nowrap;
   width: 1%;
   vertical-align: middle;
   display: table-cell;
}
.input-group-btn-vertical > .btn {
   display: block;
   float: none;
   width: 100%;
   max-width: 100%;
   padding: 8px;
   position: relative;
   border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
   border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
   border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
   position: absolute;
   top: 0;
   left: 4px;
}

.bar rect {
   fill: steelblue;
   shape-rendering: crispEdges;
}

.bar text {
   fill: #fff;
}

.axis path, .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

.center {
   margin: auto;
   width: 60%;
   padding: 10px;
}

.catGrid {
   width: auto;
   margin-bottom: 50px;
}

#footer {
   height: 20px;
   background-color: #f5f5f5;
}
.validation-error {
   color: red;
}
.validation-pending {
   color: orange;
}